/* -------------------------------------------- */
/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

section {
  padding: 30px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
}
/* Estilos Generales */
/* -------------------------------------------- */
/* Estilos Header */
header {
  background-color: #000f08;
  color: #f1f1f1;
}

header nav {
  background-color: #000f08;
  width: 1130px;
  padding-left: 40px;
  position: fixed;
}

header nav .brand {
  fill: white;
  display: inline-block;
  margin: 10px;
  width: 25px;
}

header nav ul {
  display: inline-block;
  position: relative;
  bottom: 15px;
}

header nav ul li {
  display: inline-block;
  margin-left: 20px;
}


header nav a {
  font-size: 14px;
  color: #f1f1f1;
}

header .hero {
  background-image: url(../img/bg-hero.png);
  background-size: cover;
  padding: 100px;
}

header .hero h1 {
  text-align: end;
}

header .hero p {
  text-align: end;
}
/* Estilos Header */

/* -------------------------------------------- */
/* Estilos Seccion Ubicacion */
.ubicacion {
  margin: 40px;
}

.ubicacion .img {
  margin-left: 350px;
}

.ubicacion .img img {
  width: 350px;
}

.ubicacion .info h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.ubicacion .info p {
  text-align: center;
}
/* Estilos Seccion Ubicacion */
/* -------------------------------------------- */
/* Estilos Seccion ProximaCharla */
.proxima-charla {
  background-color: #a4452c;
  padding: 70px;
}

.proxima-charla img {
  margin-left: 280px;
  width: 200px;
}

.proxima-charla .textos {
  color: white;
}

.proxima-charla .textos h3 {
  font-size: 25px;
  font-weight: 600;
}

.proxima-charla .textos p {
  font-size: 14px;
  font-weight: 300;
}

.proxima-charla .textos p {
  font-size: 14px;
  font-weight: 300;
}
/* Estilos Seccion ProximaCharla */
/* -------------------------------------------- */
/* Estilos Seccion EventosAnteriores */
.eventos-anteriores .title {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.eventos-anteriores .title h3 {
  font-size: 24px;
  font-weight: 700;
}

.events {
  display: flex;
  flex-wrap: wrap;
}

.events .event-card {
  width: 33.33%;
}

.events .event-card img {
  width: 180px;
  height: 125px;
  margin-left: 90px;
}

.events .event-card a {
  margin-left: 95px;
  font-weight: 700;
  font-size: 18px;
  color: black;
}
/* Estilos Seccion EventosAnteriores */
/* -------------------------------------------- */
/* Estilos footer Contacto */
footer {
  background-color: #000f08;
  padding: 30px;
}

footer .icons {
  margin-left: 450px;
  margin-bottom: 20px;
}

footer p {
  color: white;
  text-align: center;
}

footer i {
  color: white;
}

footer a {
  margin: 10px;
  font-size: 10px;
}
/* Estilos Seccion Contacto */

/* -------------------------------------------- */
